* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, button {
    font-family: calibri;
}

input, button {
    font-size: 18px;
}

.head_bar {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d5399;
    color: rgb(255, 255, 255)
}

  
  .site-identity {
    float: left;
  }
  
  .site-identity h1 {
    font-size: 1.5em;
    margin: .7em 0 .3em 0;
    display: inline-block;
  }
  
  .site-identity img {
    max-width: 55px;
    float: left;
    margin: 0 10px 0 0;
  }



main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;

}

.input_section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 10px;
    background: #F8F9FA;
}

.input_section > h2 {
    text-align: center;
    color: #0d5399;
}

.input_section > form > .input {
    margin: 8px 0;
}

.input_section > form > button {
    background-color: #0d5399;
    color: white;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_section > form > button > span {
    font-weight: bold;
}

.input_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
}


.input_section > form > .input > label {
    color: #0d5399;
    font-weight: bold;
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label {
    color: #0d5399;
    font-weight: bold;
    margin-right: 10px;
}

.search_section {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 10px;
    background: #F8F9FA;
}

.search_section > h2 {
    color: #0d5399;
    align-items: center;
}

.search_section > form {
    padding: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
    grid-gap: 10px;

}

.search_section > form > label {
    display: flex;
    align-items: center;
}

.search_section > form > input {
    padding: 5px; 
}

.search_section > form > button {
    background-color: #0d5399;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf {
    margin: 16px 0 0 0;
    padding: 16px;
    border-radius: 10px;
    background: #F8F9FA;
}

.book_shelf > h2 {
    color: #0d5399;
    
 }

.book_shelf > .book_list {
    padding: 16px;
}

.book_shelf > .book_list > .book_item {
    padding: 8px 16px 16px 16px;
    border: 1px solid white;
    background: white;
    border-radius: 5px;
    margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3, p {
    margin: 8px 0;
    
}

.book_shelf > .book_list > .book_item > .action > button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
    background-color: #0d5399;
    border-radius: 5px;
    color: white;
}

.book_shelf > .book_list > .book_item > .action > .red {
    background-color: darkred;
    border-radius: 5px;
    color: white;
}

footer{
    height:80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #0d5399
}

footer p{
    font-family: calibri;
	color: white;
	margin-bottom: 10px;
    }